/** Drupal nodes **/
  .node-unpublished .node-inner>*
  {
    position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
  }

/** Drupal admin tables **/
  .section-admin #content tr.even th,
  .section-admin #content tr.even td,
  .section-admin #content tr.odd th,
  .section-admin #content tr.odd td
  {
    border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
  }

/* Make primary & secondary links and header content valign to bottom */

  #primary-inner, #secondary-inner, #logo-title
  {
    position: relative;
  }
  
  #primary ul, #secondary ul, #logo-title2
  {
    position: absolute;
    top: 100%;
  }
  #primary a, #secondary a, #logo-title3
  {
    position: relative;
    top: -100%;
  }

  .node h2.title
  {
    margin-top: -30px;
  }

.tabs ul.primary li a{
    position: relative;
    bottom: -1px;
    border-bottom: none;
}
