body {
	font-size: 100%;
	background: #111;
	color: #CCC;
}
#page {
	font-size: 0.875em;
	line-height: 1.286em;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}
input, textarea, select {
	background: #EEE;
	border-color: #777;
	border-style: solid;
	border-width: 2px 2px 0;
}
pre, code {
	font: 1.1em "Bitstream Vera Sans Mono", "Courier New", monospace;
}
h1 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font: 1.5em Helvetica, Arial, Sans-Serif;
}
h2 {
	margin-top: 0.667em;
	margin-bottom: 0.667em;
	font: 600 1.5em/1.3em Helvetica, Arial, Sans-Serif;
}
h3 {
	margin-top: 0.769em;
	margin-bottom: 0.769em;
	font: 1.3em/1.3em Helvetica, Arial, Sans-Serif;
}
h4, h5, h6 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin-top: 0.909em;
	margin-bottom: 0.909em;
}
p, ul, ol, dl, pre, table, fieldset, blockquote {
	margin: 1em 0;
}
blockquote {
	background: url('images/quote.gif') no-repeat;
	padding: 3px 0 0 60px;
}
ul, ol {
	margin-left: 0;
	padding-left: 2em;
}
.block ul, .item-list ul {
	margin: 1em 0;
	padding: 0 0 0 2em;
}
ul ul, ul ol, ol ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul {
	margin: 0;
}
li {
	margin: 0;
	padding: 0;
}
.item-list ul li {
	list-style: inherit;
	margin: 0;
	padding: 0;
}
ul.menu li, li.expanded, li.collapsed, li.leaf {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}
ul ul ul ul {
	list-style-type: circle;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: decimal;
}
dt {
	margin: 0;
	padding: 0;
}
dd {
	margin: 0 0 0 2em;
	padding: 0;
}
a:link, a:visited {
	color: #FFF;
	text-decoration: none;
}
table {
	border-collapse: collapse;
}
th, thead th, tbody th {
	text-align: center;
	padding-right: 0;
	border-bottom: none;
}
tbody {
	border-top: none;
}
abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
	white-space: nowrap;
}
abbr.created {
	border: none;
	cursor: auto;
	white-space: normal;
}
img {
	border: 0;
}
hr {
	height: 1px;
	border: 1px solid #666;
}
form {
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 1em 0;
	padding: 0.5em;
}
body {
	margin: 0;
	padding: 0 20px;
}
#navigation-top, #navigation {
	position: absolute;
	left: -10000px;
}
#skip-to-nav {
	float: right;
	margin: 0 !important;
	font-size: 0.8em;
}
#skip-to-nav a:link, #skip-to-nav a:visited {
	color: #fff;
}
#skip-to-nav a:hover {
	color: #000;
	text-decoration: none;
}
#header {
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: -100%;
	padding: 0;
}
#header-inner {
	padding: 0 240px;
	height: 180px;
}
#logo {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
}
#header-blocks {
	clear: both;
}
#main {
	position: relative;
}
#content {
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: -100%;
	padding: 0;
}
.two-sidebars #content-inner {
	margin: 0 230px;
}
.sidebar-left #content-inner {
	margin-left: 230px;
}
.sidebar-left #footer-inner {
	margin: 0 0 0 230px;
}
.sidebar-right #content-inner {
	margin-right: 230px;
}
.sidebar-right #footer-inner {
	margin: 0 230px 0 0;
}
.no-sidebars #footer-inner {
	margin: 0;
}
#content-inner {
	margin: 0;
	padding: 0;
}
#navbar {
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: -100%;
	padding: 0;
	height: 3.6em;
}
#content, #sidebar-left, #sidebar-right {
	margin-top: 180px;
}
#search-box {
	width: 200px;
	margin-left: -200px;
	float: right;
	margin-top: 10px;
}
#primary {
	float: right;
	width: 240px;
	margin-left: -240px;
	margin-right: 0;
	padding: 0;
}
#secondary {
	float: left;
	width: 240px;
	margin-left: 0;
	margin-right: -240px;
	padding: 0;
}
#navbar ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
#navbar li {
	float: left;
	padding: 0 10px 0 0;
}
#sidebar-left {
	float: left;
	width: 240px;
	margin-left: 0;
	margin-right: -240px;
	padding: 0;
}
#sidebar-left-inner {
	margin: 0 20px 0 0;
	padding: 0;
}
#sidebar-right {
	float: right;
	width: 240px;
	margin-left: -240px;
	margin-right: 0;
	padding: 0;
}
#sidebar-right-inner {
	margin: 0;
	padding: 0;
}
#footer {
	position: relative;
	z-index: 1000;
	float: left;
	width: 100%;
}
#footer-inner {
	margin: 0 230px;
	border-right: 10px solid #161616;
	border-left: 10px solid #161616;
}
#header, #content, #navbar, #sidebar-left, #sidebar-right, #footer, #closure-blocks {
	overflow: visible;
	word-wrap: break-word;
}
#navbar {
	overflow: hidden;
}
#header-inner {
	background: #900;
}
.secondary-no #header-inner {
	border-left: 10px solid #600;
}
.primary-no #header-inner {
	border-right: 10px solid #600;
}
#logo-title {
	display: table;
	height: 155px;
	overflow: hidden;
	margin-left: 25px;
}
#logo-title2 {
	display: table-cell;
	vertical-align: bottom;
}
#logo-title3 {
	position: relative;
	z-index: 5;
}
#site-name {
	margin: 0 0 0.3em;
	font-size: 2.6em;
}
#site-name a:link, #site-name a:visited {
	font-weight: 500;
	text-decoration: none;
}
#site-name a:hover {
	text-decoration: underline;
}
#site-slogan {
	color: #e38186;
}
#content {
	color: #EEE;
}
#content a p, #content .links a {
	color: #CCC;
	border-bottom: 1px dotted #CCC;
}
#content a:hover p, #content .links a:hover {
	color: #d00;
	border-color: #d00;
}
#content-inner {
	border-left: 10px solid #222;
	border-right: 10px solid #222;
	background: #333;
	padding: 15px;
	overflow: hidden;
}
#content-inner2 {
	padding: 15px;
}
.breadcrumb {
	padding-bottom: 0;
}
h1.title, h2.title, h3.title {
	margin: 0;
}
div.messages {
	margin: 0 1em 5px;
	border: 2px solid #ccc;
	padding: 5px;
	color: #000;
	font-style: italic;
	background: #fff;
}
div.warning {
	border-color: #ff7;
}
div.warning, tr.warning, body.section-admin tr.warning {
	color: #000;
	background: #ffc;
}
div.error {
	border-color: #c00;
}
div.error, tr.error, body.section-admin tr.error {
	color: #900;
	background: #fee;
}
div.admin-dependencies, div.admin-required {
	color: #ccc;
}
.help {
	margin: 1em 0;
}
.more-help-link {
	font-size: 0.85em;
	text-align: right;
}
.pager {
	clear: both;
	margin: 1em 0;
	text-align: center;
}
.pager a, .pager strong.pager-current {
	padding: 0.5em;
}
.feed-icons {
	margin: 1em 0;
}
#primary-inner {
	border-right: 10px solid #191919;
	border-left: 10px solid #600;
	height: 180px;
	background: #262626;
	display: table;
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}
#primary-inner ul {
	display: table-cell;
	vertical-align: bottom;
}
#primary-inner li {
	padding: 0;
}
#primary a {
	margin: 0 -10px;
	width: 225px;
	display: block;
	float: left;
	height: 22px;
	padding: 3px 0 0 15px;
	font-size: 0.9em;
	color: #fff;
}
#primary a:hover {
	border-right: 10px solid #444;
	border-left: 10px solid #700;
	background: #393939;
	width: 215px;
	padding-left: 5px;
}
#secondary-inner {
	border-left: 10px solid #191919;
	border-right: 10px solid #600;
	height: 180px;
	background: #262626;
	display: table;
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}
#secondary ul {
	display: table-cell;
	vertical-align: bottom;
}
#secondary li {
	padding: 0;
}
#secondary a {
	margin: 0 -10px;
	width: 225px;
	display: block;
	float: left;
	height: 22px;
	padding: 3px 0 0 15px;
	font-size: 0.9em;
	color: #fff;
}
#secondary a:hover {
	border-left: 10px solid #444;
	border-right: 10px solid #700;
	background: #393939;
	width: 215px;
	padding-left: 5px;
}
#sidebar-left {
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}
#sidebar-left-inner {
	border-left: 10px solid #191919;
	border-right: 10px solid #222;
	width: 190px;
	padding: 15px;
	background: #262626;
}
#sidebar-right {
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}
#sidebar-right-inner {
	border-right: 10px solid #191919;
	border-left: 10px solid #222;
	width: 190px;
	padding: 15px;
	background: #262626;
}
#footer-inner {
	background: #222;
	padding: 25px;
	font-size: 0.9em;
}
.node-unpublished div.unpublished, .comment-unpublished div.unpublished {
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word;
	font: bold 75px/1 Impact, "Arial Narrow", Helvetica, sans-serif;
}
.node h2.title {
	background: #292929;
	float: left;
	display: block;
	width: 100%;
	margin: -44px -30px 15px;
	padding: 5px 45px 5px 15px;
	border-bottom: 10px solid #2d2d2d;
}
.marker {
	color: #c00;
}
.node.node-unpublished .picture, .comment.comment-unpublished .picture {
	position: relative;
}
.node div.links {
	margin: 1em 0;
}
ul.links {
	margin: 0;
	padding: 0;
}
ul.links.inline {
	display: inline;
}
ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}
#comments {
	margin: 1em 0;
}
.new {
	color: #c00;
}
.comment div.links {
	margin: 1em 0;
}
.block {
	margin-bottom: 1em;
	display:block;
	width:190px;
}
.block h2.title {
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: -1px;
	border-bottom: 1px #CCC dotted;
}
#search-block-form {
	margin-top: 5px;
}
#search-block-form .form-text {
	background: url('images/search.png');
	border: 0;
	width: 79px;
	height: 20px;
	font-size: 12px;
	color: #ccc;
	padding: 4px 15px 0 25px;
}
#search-block-form .form-submit {
	background: url('images/search_submit.png');
	border: 0;
	width: 62px;
	height: 24px;
	font-size: 12px;
	color: #ccc;
	padding: 0 5px 4px;
}
.error {
	color: #c00;
}
.more-link {
	text-align: right;
}
#user-login-form {
	text-align: left;
}
tr.even, tr.odd {
	border-bottom: none;
	padding: 0;
}
td.active {
	background: transparent;
}
li a.active {
	color: #AAA;
}
li.collapsed {
	list-style-image: url('images/menu-collapsed.png');
}
li.expanded {
	list-style-image: url('images/menu-expanded.png');
}
li.leaf {
	list-style-image: url('images/menu-leaf.png');
}
.form-item, .form-checkboxes, .form-radios {
	margin: 1em 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 2px solid #c00;
}
.form-item label {
	display: block;
	font-weight: bold;
}
.form-item label.option {
	display: inline;
	font-weight: normal;
}
.form-required {
	color: #c00;
}
.form-item .description {
	font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item {
	margin: 0.4em 0;
}
.container-inline div, .container-inline label {
	display: inline;
}
.tips {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}
.section-admin tbody {
	border-top: 1px solid #ccc;
}
.section-admin th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}
.section-admin tbody th {
	border-bottom: 1px solid #ccc;
}
.section-admin thead th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}
tr.even, tr.odd {
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}
tr.odd {
	background: #444;
}
tr.even {
	background: transparent;
}
span.clear {
	display: block;
	clear: both;
	height: 1px;
	line-height: 0;
	font-size: 0;
	margin-bottom: -1px;
}
.node-top {
	background: #444;
	border: 1px #555 solid;
	padding: 0.3em;
	font-size: 0.9em;
}
.resizable-textarea .grippie {
	border-width: 0 2px 2px;
	border-style: solid;
	border-color: #777;
	background: #ddd;
}
.tabs ul.primary li a {
    background: transparent;
    border: 1px dotted #CCC;
}
.tabs ul {
    border-bottom: 1px dotted #ccc;
}
