  #ad_redoable-settings fieldset .form-item
  {
    padding-left: 200px;
  }

  #ad_redoable-settings fieldset .form-checkboxes .form-item,
  #ad_redoable-settings fieldset .form-radios .form-item
  {
    padding-left: 0;
  }

  #ad_redoable-settings fieldset .form-item label
  {
    float: left;
    width: 190px;
    margin-left: -200px;
    margin-right: 10px;
    text-align: right;
  }

  #ad_redoable-settings fieldset .form-item label.option
  {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
